/* FOOTER */

.main_footer {
    background: #e8ecf4;
    padding: 3.13vw 0 1.56vw;
    margin-top: 6.25vw;
}

.footer_content {
    max-width: 89.58vw;
    margin: 0 auto;
    padding: 0 0 2.08vw;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    gap: 2.6vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_logo {
    display: flex;
    align-items: flex-start;
    margin-right: 13.03vw;
}

.footer_logo img {
    width: 6.25vw;
    height: auto;
}

.footer_col {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.footer_col h4 {
    font-size: 1.57vw;
    font-weight: 600;
    margin: 0;
    color: #000;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-family: var(--main-font);
}

.footer_col ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
}

.footer_col ul li {
    font-size: 1.15vw;
    line-height: 140%;
    color: #000;
    letter-spacing: -0.04em;
    margin: 0;
    font-family: var(--text-font);
}

.footer_col ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_col ul li a:hover {
    color: var(--blue);
}

.footer_bottom {
    max-width: 89.58vw;
    margin: 0 auto;
    padding: 1.56vw 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.08vw;
    font-size: 0.73vw;
    color: #666;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.04em;
    font-family: var(--text-font);
}

.footer_bottom a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_bottom a:hover {
    color: var(--blue);
}

.footer_bottom strong {
    color: #000;
    font-weight: 400;
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) {
    .main_footer {
        padding: 6.51vw 0 3.26vw;
    }

    .footer_content {
        max-width: 94.79vw;
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 3.91vw 5.21vw;
        padding: 0 0 2.6vw;
    }

    .footer_logo {
        grid-row: 1 / 3;
        grid-column: 1;
        margin-right: 0;
    }

    .footer_logo img {
        width: 13.8vw;
    }

    .footer_col:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .footer_col:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }

    .footer_col:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .footer_col:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
    }

    .footer_col {
        gap: 1.3vw;
    }

    .footer_col h4 {
        font-size: 2vw;
    }

    .footer_col ul {
        gap: 1.04vw;
    }

    .footer_col ul li {
        font-size: 1.8vw;
    }

    .footer_bottom {
        max-width: 94.79vw;
        padding: 1.95vw 0 0;
        gap: 1.56vw;
        font-size: 1.6vw;

        align-items: flex-start;
    }

    .footer_bottom span:first-of-type {
        display: none;
    }
}

/* MOBILE */

@media (max-width: 767px) {
    .main_footer {
        padding: 4.44vw 0 3.33vw;
        margin-top: 6.67vw;
    }

    .footer_content {
        max-width: 87.5vw;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 4.44vw;
        gap: 4.44vw 3.33vw;
    }

    .footer_logo {
        display: none;
    }

    .footer_col:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
    }

    .footer_col:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    .footer_col:nth-child(4) {
        grid-column: 2;
        grid-row: 1;
    }

    .footer_col:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
    }

    .footer_col {
        gap: 2.22vw;
    }

    .footer_col h4 {
        font-size: 5vw;
    }

    .footer_col ul {
        gap: 1.11vw;
    }

    .footer_col ul li {
        font-size: 3.61vw;
    }

    .footer_bottom {
        max-width: 87.5vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        padding: 3.33vw 0 0;
        gap: 2.78vw;
        font-size: 2.78vw;
    }

    .footer_bottom a:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .footer_bottom span:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1;
        text-align: right;
    }

    .footer_bottom a:nth-of-type(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .footer_bottom span:first-of-type {
        display: none;
    }
}

@media (min-width: 1025px) {
    .footer_bottom span:first-of-type {
        display: none;
    }
}
