@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@500;600&family=Inter:wght@400;500;700&display=swap');

:root {
    --main-font: 'Moderustic', Arial, sans-serif;
    --text-font: "Inter", Arial, sans-serif;
    --blue: #124295;
    --black: #000;
    --white: #fff;
    --grey: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    background: var(--grey);
    color: var(--black);
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding-top: 3.1vw;
    padding-bottom: 3.1vw;
}

/* HEADER */
.main_navigation {
    justify-content: space-between;
}

.main_navigation__list a {
    color: var(--white);
    gap: 0.42vw;
}

.main_navigation__search {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.main_navigation__search:hover {
    opacity: 0.7;
}

.main_navigation__phone {
    text-decoration: underline;
    color: var(--white);
}
.main_navigation__btn {
    background: var(--blue);
    color: var(--white);
}

.main_navigation__btn:hover {
    background: #001f66;
}

.burger {
    display: none;
}

/* MOBILE MENU */
.mobile_menu {
    padding: 5vw;
    transition: left 0.3s ease;
}

.mobile_menu__buttons {
    gap: 4vw;
}

.mobile_navigation__phone {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 0.5vw;
    font-weight: 600;
    font-size: 4vw;
}

.close {
    font-size: 8vw;
}

.mobile_nav ul {
    gap: 5vw;
}

.mobile_nav ul li a {
    gap: 2vw;
    font-size: 4.5vw;
    transition: color 0.3s ease;
}

.mobile_nav ul li a:hover {
    color: var(--blue);
}

.mobile_menu__btn {
    padding: 4vw 6vw;
    border-radius: 3vw;
    font-size: 4.5vw;
}

.mobile_menu__overlay.active {
    display: block;
}

/* HERO */
.hero {
    width: 100%;
    position: relative;
    color: var(--white);
    padding: 0 0 5.2vw;
    height: 100vh;
}

.hero__bg {
    position: absolute;
    inset: 0;
    background: url('../Image/CoverAbout.svg') center / cover no-repeat;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero__container {
    position: relative;
    z-index: 1;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__content {
    margin-top: auto;
}

.hero__title {
    font-family: var(--main-font);
    font-size: 5.2vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.04vw;
    line-height: 100%;
    margin-bottom: 1vw;
}

.hero__text {
    max-width: 29.2vw;
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
    line-height: 120%;
    margin-bottom: 1.6vw;
}

.hero__btn {
    font-weight: 500;
    font-size: 0.8vw;
    letter-spacing: -0.04vw;
    padding: 0.7vw 1.3vw;
    border-radius: 0.5vw;
    border: none;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero__btn:hover {
    color: var(--white);
    background-color: var(--black);
}

/* ABOUT */
.about {
    padding-top: 5.2vw;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.04vw;
}

.about__label {
    font-family: var(--main-font);
    font-size: 4.2vw;
    font-weight: 600;
    color: var(--blue);
    text-transform: uppercase;
    line-height: 110%;
    grid-column: span 2;
}

.about__lead {
    font-size: 2.1vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
    line-height: 100%;
    text-align: justify;
    text-indent: 14.95vw;
    grid-column: span 4;
}

.about__image {
    width: 100%;
    grid-column: 2 / span 2;
}

.about__image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 560 / 356;
    object-fit: cover;
    border-radius: 0.5vw;
    display: block;
}

.about__texts {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
    grid-column: 4 / span 2;
    font-size: 1.04vw;
    font-weight: 400;
    letter-spacing: -0.04vw;
    line-height: 120%;
}

/* NUMBERS */
.numbers__container {
    margin: 0 auto;
    position: relative;
}

.numbers__visible-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.1vw 1.04vw;
}

.numbers__value {
    font-family: var(--main-font);
    font-size: 7.8vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
    line-height: 100%;
    color: var(--black);
}

.numbers__text {
    max-width: 22.3vw;
}

.numbers__text:last-of-type {
    max-width: 16.9vw;
}

.numbers__text p {
    font-size: 1.04vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
    line-height: 120%;
}

.numbers__ghost-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    z-index: -1;
}

.numbers__ghost {
    position: absolute;
    font-family: var(--main-font);
    font-size: 7.81vw;
    font-weight: 500;
    letter-spacing: -0.03vw;
    color: var(--blue);
    opacity: 0.1;
    line-height: 100%;
}

.numbers__ghost--15 {
    top: 2.1vw;
    left: 16.6vw;
}

.numbers__ghost--500 {
    top: 9.9vw;
    left: 38.6vw;
}

.numbers__ghost--50 {
    top: 17.7vw;
    left: 56.9vw;
}

/* WAREHOUSE */
.warehouse__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.04vw;
    margin-bottom: 1.6vw;
}

.warehouse__label {
    font-family: var(--main-font);
    font-size: 4.2vw;
    font-weight: 600;
    color: var(--blue);
    text-transform: uppercase;
    line-height: 110%;
    grid-column: span 1;
}

.warehouse__lead {
    font-size: 2.1vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
    line-height: 100%;
    text-align: justify;
    text-indent: 14.95vw;
    grid-column: 2 / -1;
}

.warehouse__texts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.04vw;
    margin-bottom: 1.6vw;
}

.warehouse__texts p {
    font-size: 1.04vw;
    font-weight: 400;
    letter-spacing: -0.04vw;
    line-height: 120%;
    grid-column: -3 / -2;
}

.warehouse__texts p:last-of-type {
    grid-column: -2 / -1;
}

.warehouse__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.04vw;
}

.warehouse__images img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5vw;
    display: block;
    aspect-ratio: 415 / 505;
}

.warehouse__images img:nth-child(2) {
    margin-top: 4.2vw;
}

.warehouse__images img:nth-child(3) {
    margin-top: 8.4vw;
}

.warehouse__images img:nth-child(4) {
    margin-top: 12.6vw;
}

/* SERVICE */
.service__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1.04vw;
}

.service__lead {
    font-size: 2.1vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
    line-height: 100%;
    text-align: justify;
    text-indent: 45.4vw;
    grid-column: 1 / -1;
}

.service__image-main {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
}

.service__image-main img {
    width: 100%;
    height: 100%;
    aspect-ratio: 850 / 623;
    object-fit: cover;
    border-radius: 0.5vw;
    display: block;
}

.service__texts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.04vw;
    grid-column: 3 / -1;
}

.service__texts p {
    font-size: 1.04vw;
    font-weight: 400;
    letter-spacing: -0.04vw;
    line-height: 120%;
}

.service__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.04vw;
    grid-column: 3 / -1;
}

.service__images img {
    width: 100%;
    height: 21.41vw;
    object-fit: cover;
    border-radius: 0.5vw;
    display: block;
    aspect-ratio: 415 / 411
}

/* CONTACT */
.contact_left p {
    font-size: 1.25vw;
    width: 80%;
}

.contact_buttons {
    gap: 1vw; 
}

.contact_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14.74vw;
    background: linear-gradient(90deg, #9AB6DF 0%, #0E468C 100%);
    color: var(--white);
    text-decoration: none;
    border-radius: 0.31vw;
    font-weight: 400;
    transition: transform 0.3s ease;
}

/* DESKTOP */
@media (min-width: 1025px) {}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    /* HERO */
    .hero {
        padding: 1.56vw 0 6.5vw; 
    }

    .hero__container {
        padding: 0; 
        max-width: calc(100% - 40px);
    }

    .hero__title {
        font-size: 9.1vw;
        margin-bottom: 2.6vw;
    }

    .hero__text {
        font-size: 2.86vw;
        max-width: 100%;
        margin-bottom: 2.6vw;
    }

    .hero__btn {
        font-size: 2.1vw;
        padding: 1.8vw 3.1vw;
        height: 5.7vw;
        border-radius: 1.3vw;
    }

    /* ABOUT */
    .about {
        padding-top: 7.8vw;
    }

    .about__container {
        grid-template-columns: 1fr;
        gap: 2.6vw;
    }

    .about__label {
        grid-column: 1 / -1;
        order: 0;
        font-size: 6.5vw;
    }

    .about__lead {
        font-size: 3.9vw;
        text-indent: 0;
        grid-column: 1 / -1;
        order: 2;
    }

    .about__image {
        grid-column: 1 / -1;
        order: 1;
    }

    .about__image img {
        aspect-ratio: 728 / 515;
        border-radius: 1.3vw;
    }

    .about__texts {
        gap: 2.6vw;
        grid-column: 1 / -1;
        order: 3;
        line-height: unset;
    }

    .about__texts p {
        font-size: 2.6vw;
    }

    /* NUMBERS */
    .numbers__ghost-container {
        display: none;
    }

    .numbers__visible-container {
        align-items: center;
        gap: 0;
    }

    .numbers__value {
        font-size: 10.4vw;
    }

    .numbers__text p {
        font-size: 2.6vw;
        margin-left: 0.5vw;
    }

    .numbers__value, .numbers__text {
        display: flex;
        align-items: center;
        max-width: 100vw !important;
        border-top: 0.1vw solid rgba(0, 0, 0, 0.2);
        height: 100%;
        padding: 1.8vw 0;
    }

    .numbers__value:nth-last-of-type(2), .numbers__text:nth-last-of-type(1) {
        border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
    }

    /* WAREHOUSE */
    .warehouse__header {
        grid-template-columns: 1fr;
        margin-bottom: 3.4vw;
        gap: 2.6vw;
    }

    .warehouse__label {
        font-size: 6.5vw;
    }

    .warehouse__lead {
        font-size: 3.9vw;
        text-indent: 0;
        grid-column: 1 / -1;
    }

    .warehouse__texts {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 6.5vw;
    }

    .warehouse__texts p {
        font-size: 2.3vw;
    }

    .warehouse__images {
        grid-template-columns: repeat(4, 1fr);
    }

    .warehouse__images img {
        border-radius: 1.3vw;
        aspect-ratio: 175 / 212;
    }

    .warehouse__images img:nth-child(2) {
        margin-top: 5.2vw;
    }

    .warehouse__images img:nth-child(3) {
        margin-top: 10.4vw;
    }

    .warehouse__images img:nth-child(4) {
        margin-top: 15.6vw;
    }

    /* SERVICE */
    .service__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0.3fr 0.5fr 0.5fr;
        gap: 2.6vw;
    }
    
    .service__lead {
        font-size: 3.9vw;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        text-indent: 0;
    }

    .service__image-main {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .service__image-main img {
        height: auto;
        aspect-ratio: 728 / 515;
        border-radius: 1.3vw;
    }

    .service__texts {
        gap: 2.6vw;
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    .service__texts p {
        font-size: 2.6vw;
        font-weight: 400;
        grid-column: span 2;
    }

    .service__images {
        grid-column: 1 / -1;
        gap: 1.3vw;
    }

    .service__images img {
        height: auto;
        aspect-ratio: 359 / 356;
        border-radius: 1.3vw;
        grid-column: span 1;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    /* HERO */
    .hero {
        padding: 4.5vw 0 11.1vw;
    }

    .hero__container {
        padding: 0;
    }

    .hero__title {
        font-size: 8.3vw;
        margin-bottom: 2.8vw;
        max-width: 100%;
    }

    .hero__text {
        font-size: 4.4vw;
        max-width: 100%;
        margin-bottom: 5.6vw;
    }

    .hero__btn {
        font-size: 4.4vw;
        padding: 3.9vw 6.7vw;
        height: 12.2vw;
        border-radius: 2.8vw;
    }

    /* ABOUT */
    .about {
        padding-top: 11.1vw;
    }

    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__label {
        font-size: 6.7vw;
        grid-column: 1 / -1;
        order: 0;
        margin-bottom: 2.8vw;
    }

    .about__lead {
        font-size: 5vw;
        text-indent: 0;
        grid-column: 1 / -1;
        order: 2;
        margin: 5.6vw 0;
    }

    .about__image {
        grid-column: 1 / -1;
        order: 1;
    }

    .about__image img {
        aspect-ratio: 320 / 377;
        border-radius: 4.2vw;
    }

    .about__texts {
        gap: 3.13vw;
        grid-column: 1 / -1;
        order: 3;
        font-size: 3.89vw;
    }

    /* NUMBERS */
    .numbers__ghost-container {
        display: none;
    }

    .numbers__visible-container {
        gap: 0;
    }

    .numbers__value {
        font-size: 11.1vw;
    }

    .numbers__text p {
        font-size: 3.9vw;
        margin-left: 0.52vw;
    }

    .numbers__value, .numbers__text {
        max-width: 100vw !important;
        border-top: 0.13vw solid rgba(0, 0, 0, 0.2);
        padding: 2.8vw 0;
    }

    .numbers__value:nth-last-of-type(2), .numbers__text:nth-last-of-type(1) {
        border-bottom: 0.13vw solid rgba(0, 0, 0, 0.2);
    }

    /* WAREHOUSE */
    .warehouse__header {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .warehouse__label {
        font-size: 6.7vw;
        margin-bottom: 2.8vw;
    }

    .warehouse__lead {
        font-size: 5vw;
        text-indent: 0;
        grid-column: 1 / -1;
        margin-bottom: 5.6vw;
    }

    .warehouse__texts {
        grid-template-columns: 1fr;
        row-gap: 4.4vw;
        margin-bottom: 11.1vw;
    }

    .warehouse__texts p {
        font-size: 3.9vw;
        grid-column: span 1;
    }

    .warehouse__images {
        overflow-x: scroll;
        display: flex;
    }

    .warehouse__images img {
        border-radius: 2.8vw;
        height: auto;
        width: calc(50% - 0.7vw);
        aspect-ratio: 155 / 188;
    }

    .warehouse__images img:nth-of-type(odd) {
        margin: 0 0 11.1vw 0;
    }

    .warehouse__images img:nth-child(even) {
        margin: 11.1vw 0 0 0;
    }

    /* SERVICE */
    .service__container {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        gap: 5.6vw;
    }

    .service__lead {
        font-size: 5vw;
        text-indent: 0;
        grid-column: 1 / -1;
    }

    .service__image-main {
        width: 100%;
        grid-column: 1 / -1;
        order: 1;
    }

    .service__image-main img {
        height: auto;
        aspect-ratio: 320 / 377;
        border-radius: 2.8vw;
    }

    .service__texts {
        grid-column: 1 / -1;
        gap: 2.8vw;
    }

    .service__texts p {
        font-size: 3.9vw;
        grid-column: span 2;
    }

    .service__images {
        gap: 2.8vw;
        grid-column: 1 / -1;
    }

    .service__images img {
        height: auto;
        aspect-ratio: 320 / 178;
        border-radius: 2.8vw;
        grid-column: span 2;
    }
}