@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@500;600&family=Inter:wght@400;500;700&display=swap');

:root {
    --main-font: 'Moderustic', Arial, sans-serif;
    --text-font: "Inter", Arial, sans-serif;
    --black: #000;
    --grey: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: var(--grey);
    color: var(--black);
    font-family: var(--text-font);
}

a {
    color: var(--black);
    text-decoration: none;
}

section {
    padding-top: 3.1vw;
    padding-bottom: 3.1vw;
}

/* HEADER */
.main_navigation {
    max-width: 90%;
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
    padding-top: 1.56vw;
}

/* BREADCRUMBS */
.breadcrumbs__container a {
    color: var(--black) !important;
}

.breadcrumbs__container p {
    color: rgba(0, 0, 0, 0.5) !important;
}

/* HERO */
.hero__buttons {
    display: flex;
    gap: 1.04vw;
}

.hero__buttons button {
    width: 8.1vw;
    height: 2.3vw;
    border-radius: 0.5vw;
    border: 0.1vw solid var(--black);
    padding: 0.7vw 1.25vw;
    background-color: transparent;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.04vw;
    font-size: 0.83vw;
}

/* IMAGE */
.image__container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.8vw;
    aspect-ratio: 1720 / 750;
}

/* STAGES */
.stages__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0vw 1.04vw;
}

.stages__item {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.big__item {
    grid-row: 1 / -1;
}

.small__item {
    grid-column: -2 / -1;
    grid-row: span 1;
}

.stages__item h1 {
    max-width: 30.9vw;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.56vw;
    line-height: 110%;
    letter-spacing: -0.04vw;
}

.stages__item p {
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 120%;
    letter-spacing: -0.04vw;
}

/* LINE */
.line__container span {
    display: block;
    width: 100%;
    height: 0.1vw;
    border-top: 0.1vw solid rgba(0, 0, 0, 0.1);
}

/* SHARE */
.share_container {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.share_container p {
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 120%;
    letter-spacing: -0.04vw;
}

.share__images {
    width: 3.3vw;
    height: 3.3vw;
    display: flex;
    gap: 1.04vw;
}

/* ARTICLES */
.articles__container {
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
}

.articles__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.04vw;
}

.articles__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
}

.articles__item__image {
    border-radius: 0.5vw;
    aspect-ratio: 415 / 450;
    object-fit: cover;
    border-radius: 0.5vw;
}

.articles__item__date {
    font-weight: 400;
    font-size: 0.73vw;
    line-height: 120%;
    letter-spacing: -0.04vw;
}

.articles__item__title {
    font-weight: 500;
    font-size: 1.04vw;
    line-height: 110%;
    letter-spacing: -0.04vw;
    margin: 0.52vw 0;
}

.articles__item__text {
    font-weight: 400;
    font-size: 0.83vw;
    line-height: 120%;
    letter-spacing: -0.04vw;
}

/* DESKTOP */
@media (min-width: 1025px) {}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    /* CONTENT */
    .content {
        padding-top: 4.17vw;
        gap: 3.91vw;
    }

    /* BREADCRUMBS */
    .breadcrumbs__container {
        order: -4;   
    }

    .breadcrumbs__container :is(a, p) {
        font-size: 2.1vw !important;
    }

    /* TITLE */
    .title__container {
        order: -1;
        margin-top: -1.3vw;  
    }

    /* HERO */
    .hero__container {
        order: -3;  
    }

    .hero__buttons {
        gap: 2.6vw;
    }

    .hero__buttons button {
        width: 17.1vw;
        height: 4vw;
        border-radius: 1.3vw;
        padding: 0;
        font-size: 2.08vw;
    }

    /* IMAGE */
    .image__container {
        order: -2;  
    }

    .image__container img {
        border-radius: 1.95vw;
        aspect-ratio: 728 / 580;
    }

    /* STAGES */
    .stages__container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: -1.3vw;
        gap: 3.91vw;
    }

    .stages__item {
        gap: 2.6vw;
    }

    .stages__item h1 {
        max-width: 100%;
        font-size: 3.1vw;
    }

    .stages__item p {
        font-size: 2.6vw;
    }

    /* SHARE */
    .share_container {
        gap: 2.6vw;
    }

    .share_container p {
        font-size: 2.6vw;
    }

    .share__images {
        width: 7.42vw;
        height: 7.42vw;
        gap: 2.6vw;
    }

    /* ARTICLES */
    .articles__container {
        gap: 2.6vw;
    }

    .articles__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.6vw 1.3vw;
    }

    .articles__item {
        gap: 1.3vw;
    }

    .articles__item__image {
        border-radius: 1.3vw;
        aspect-ratio: 359 / 310;
        border-radius: 0.5vw;
    }

    .articles__item__date {
        font-size: 1.8vw;
    }

    .articles__item__title {
        font-size: 3.1vw;
        margin: 1.3vw 0 0;
    }

    .articles__item__text {
        display: none
    }
}

/* MOBILE */
@media (max-width: 767px) {
    /* CONTENT */
    .content {
        padding-top: 7.22vw;
        gap: 8.33vw;
    }

    /* BREADCRUMBS */
    .breadcrumbs__container {
        order: -4;   
    }

    .breadcrumbs__container :is(a, p) {
        font-size: 3.3vw !important;
    }

    .breadcrumbs__container p {
        max-width: 53vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /* TITLE */
    .title__container {
        order: -1;
        margin-top: -5.56vw; 
    }

    /* HERO */
    .hero__container {
        order: -3;
    }

    .hero__buttons {
        gap: 2.78vw;
    }

    .hero__buttons button {
        width: 33.6vw;
        height: 8.3vw;
        border-radius: 2.78vw;
        padding: 0;
        font-size: 3.9vw;
    }

    /* IMAGE */
    .image__container {
        order: -2;
        margin-top: -2.78vw;
    }

    .image__container img {
        border-radius: 4.2vw;
        aspect-ratio: 320 / 261;
    }

    /* STAGES */
    .stages__container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 8.33vw;
        margin-top: -2.78vw;
    }

    .stages__item {
        gap: 2.78vw;
    }

    .stages__item h1 {
        max-width: 100%;
        font-size: 5vw;
    }

    .stages__item p {
        font-size: 3.9vw;
    }

    /* SHARE */
    .share_container {
        gap: 2.78vw;
        margin-top: -2.78vw;
    }

    .share_container p {
        font-size: 3.9vw;
    }

    .share__images {
        width: 13.06vw;
        height: 13.06vw;
        gap: 2.78vw;
    }

    /* ARTICLES */
    .articles__container {
        gap: 2.78vw;
    }

    .articles__grid {
        grid-template-columns: 1fr;
        gap: 5.56vw;
    }

    .articles__item {
        gap: 2.78vw;
    }

    .articles__item__image {
        border-radius: 1.3vw;
        aspect-ratio: 320 / 276;
        border-radius: 2.8vw;
    }

    .articles__item__date {
        font-size: 3.89vw
    }

    .articles__item__title {
        font-size: 5vw;
        margin: 0;
    }

    .articles__item__text {
        display: none
    }
}