@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@600&family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Moderustic:wght@300..800&display=swap');

:root {
    --main-font: 'Moderustic', Arial, sans-serif;
    --heading-font: 'Moderustic', Arial, sans-serif;
    --main-color: #000000;
    --accent-color: #124295;
    --bg-color: #f5f5f5;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    background: var(--bg-color);
    color: var(--main-color);
}

.main_navigation {
    max-width: var(--container);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2.08vw;
}
.breadcrumbs {
    width: 90%;
    margin: 0 auto;
    text-decoration: none;
}
.breadcrumbs a {
    color: #000000 !important;
    text-decoration: none;
}

.breadcrumbs {
    padding: 1.2vw 0px !important;
}
.logo {
    height: 2.6vw;
    margin-right: auto;
}

.main_navigation__list {
    display: flex;
    gap: 1.56vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_navigation__list a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.main_navigation__list a:hover {
    color: var(--accent-color);
}

.main_navigation__right {
    display: flex;
    align-items: center;
    gap: 1.56vw;
}

.main_navigation__search img {
    cursor: pointer;
}

.main_navigation__phone {
    color: var(--accent-color);
    text-underline-offset: 0.42vw;
    font-weight: 600;
    transition: color 0.3s ease;
}

.main_navigation__phone:hover {
    color: #001f66;
}

.main_navigation__btn {
    background: var(--accent-color);
    color: #fff;
    border: none;
    padding: 0.63vw 1.25vw;
    border-radius: 0.31vw;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_navigation__btn:hover {
    background: #001f66;
    transform: translateY(-0.1vw);
}

/* CATALOG */
.catalog_page {
    padding-top: 5.21vw;
}
.catalog_title {
    margin-bottom: 1.6vw;
}

/* CATALOG - MOBILE/TABLET FILTER */
.catalog_controls {
    display: none;
    justify-content: space-between;
}

.filter_btn {
    border: none;
    cursor: pointer;
    background: transparent;
}

.search_wrapper {
    display: flex;
    align-items: center;
    border-bottom: 0.1vw solid var(--black);
}

.search_input {
    flex: 1;
    border: none;
    background: transparent;
    font-weight: 400;
    letter-spacing: -0.04vw;
    line-height: 120%;
    outline: none;
}

.search_btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* CATALOG - MOBILE/TABLET FILTER MODAL */
.filter_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.filter_modal_content {
    max-height: 90vh;
    background: var(--white);
    overflow-y: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}


/* CATALOG - DESKTOP FILTER */
.catalog_layout {
    display: grid;
    grid-template-columns: 29.2vw 1fr;
    gap: 1.04vw;
}

.filter_sidebar {
    background: var(--white);
    border-radius: 0.8vw;
    padding: 1.04vw;
    height: fit-content;
    position: sticky;
    top: 1.04vw;
}

.filter_search {
    display: flex;
    align-items: center;
    border-bottom: 0.1vw solid var(--black);
    padding-bottom: 0.5vw;
    margin-bottom: 2.1vw;
}

.filter_search_input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.83vw;
    font-weight: 400;
    letter-spacing: -0.02vw;
    line-height: 120%;
}

.filter_search svg {
    width: 1.6vw;
    height: 1.6vw;
}

.filter_section {
    border-top: 0.1vw solid rgba(0, 0, 0, 0.2);
}

.filter_section:last-of-type {
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
}

.filter_section_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.04vw 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.filter_section_header h3 {
    font-size: 1.15vw;
    font-weight: 500;
    letter-spacing: -0.03vw;
    line-height: 100%;
}

.arrow_icon {
    width: 1.25vw;
    height: 1.25vw;
    transition: transform 0.3s ease;
}

.filter_section:not(.collapsed) .arrow_icon {
    transform: rotate(180deg);
}

.filter_section_content {
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
    overflow: hidden;
    max-height: 100%;
    transition: padding 0.3s ease;
    padding-bottom: 1.04vw;
}

.filter_section.collapsed .filter_section_content {
    display: none;
    padding: 0;
}

.filter_checkbox {
    display: flex;
    align-items: center;
    gap: 0.52vw;
    cursor: pointer;
}

.filter_checkbox input {
    width: 0.83vw;
    height: 0.83vw;
    position: relative;
    appearance: none;
}

.filter_checkbox input::after {
    cursor: pointer;
    box-sizing: border-box;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 0.21vw;
    border: 0.1vw solid var(--black);
}

.filter_checkbox input:checked::after {
    background-color: var(--blue);
    border-color: var(--blue);
}

.filter_checkbox span {
    font-size: 0.83vw;
    font-weight: 400;
    letter-spacing: -0.02vw;
    user-select: none;
}

/* CATALOG - PRODUCTS */
.products_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.04vw;
}

.product_card {
    cursor: pointer;
    background: var(--white);
    border-radius: 0.5vw;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
    padding: 1.04vw;
}

.product_card:hover {
    transform: translateY(-0.2vw);
}

.product_image {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 9.4vw;
}

.product_info {
    width: 12.5vw;
}

.product_info h3 {
    color: var(--blue);
    font-family: var(--main-font);
    font-size: 1.04vw;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.04vw;
    text-transform: uppercase;
}

.show_more_btn {
    display: block;
    width: 8.2vw;
    height: 2.3vw;
    margin: 2.6vw auto 0;
    background: transparent;
    color: var(--blue);
    border: 0.1vw solid var(--blue);
    border-radius: 0.5vw;
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.04vw;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.7vw 1.25vw;
    grid-column: -2 / -1;
}

.show_more_btn:hover {
    background: var(--blue);
    color: var(--white);
}

/* МОБИЛЬНЫЙ АДАПТИВ: 360px - 767px */
@media (min-width: 360px) and (max-width: 767px) {
    /* Breadcrumbs */
    .breadcrumbs {
        display: flex;
        align-items: center;
        gap: 1.39vw;
        margin-bottom: 4.44vw;
    }
    .main_header{
        padding: 5.6vw 0 0 !important;
    }
    .breadcrumbs span {
        font-size: 3.33vw;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 110%;
    }

    .breadcrumb_icon {
        width: 4.44vw;
        height: 4.44vw;
    }

    /* CATALOG */
    .catalog_page {
        padding-top: 11.1vw;
    }

    .catalog_title {
        margin-bottom: 5.6vw;
    }
    
    .filter_sidebar {
        display: none;
    }

    /* CATALOG - MOBILE/TABLET FILTER */
    .catalog_controls {
        display: flex;
        gap: 8.3vw;
        margin-bottom: 11.1vw;
    }

    .search_btn {
        width: 6.7vw;
        height: 6.7vw;
    }

    .search_wrapper {
        flex: 1;
        padding-bottom: 1.39vw;
    }

    .search_input {
        font-size: 3.61vw;
    }

    .filter_btn {
        width: 6.67vw;
        height: 6.67vw;
    }

    /* CATALOG - PRODUCTS */
    .catalog_layout {
        grid-template-columns: 1fr;
    }

    .products_grid {
        gap: 2.78vw;
        grid-template-columns: 1fr;
    }

    .product_card {
        border-radius: 2.8vw;
        gap: 5.6vw;
        padding: 5.6vw;
    }

    .product_image {
        width: 29.7vw;
        height: 27.8vw;
        aspect-ratio: 107 / 100;
    }

    .product_info {
        width: 66.7vw;
    }

    .product_info h3 {
        font-size: 4.4vw;
    }

    .show_more_btn {
        width: 50%;
        height: 12.2vw;
        margin-top: 5.6vw;
        border-radius: 2.8vw;
        font-size: 4.4vw;
        padding: 3.8vw 6.68vw;
    }

    /* CATALOG - MOBILE/TABLET FILTER MODAL */
    .filter_modal {
        padding: 5.56vw;
    }

    .filter_modal.active {
        display: flex;
        height: fit-content;
        margin-top: 38vw;
    }

    .filter_modal_content {
        width: 89vw;
        border-radius: 4.2vw;
        padding: 2.78vw;
    }

    .filter_search_input {
        font-size: 4.4vw;
    }

    .filter_section_header {
        padding: 5.6vw 0;
    }

    .filter_section_header h3 {
        font-size: 4.4vw;
    }

    .arrow_icon {
        width: 6.7vw;
        height: 6.7vw;
    }

    .filter_section_content {
        gap: 2.78vw;
        padding-bottom: 5.6vw;
    }

    .filter_checkbox {
        gap: 2.78vw;
    }

    .filter_checkbox input {
        width: 4.4vw;
        height: 4.4vw;
    }

    .filter_checkbox input::after {
        border-radius: 1.11vw;
    }

    .filter_checkbox span {
        font-size: 3.9vw;
    }
    .breadcrumbs {
        padding: 4.15vw 0px 0px !important;
    }
}

/* ПЛАНШЕТНЫЙ АДАПТИВ: 768px - 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .breadcrumbs {
        display: flex;
        align-items: center;
        gap: 0.65vw;
        margin-bottom: 2.08vw;
    }
    header.main_header{
        padding-top: 2.6vw;
    }
    .breadcrumbs {
        width: 95%;
        margin: 0px auto;
        padding: 2.6vw 0px 3.9vw !important;
    }

    .breadcrumbs span {
        font-size: 2.08vw;
        font-weight: 400;
        letter-spacing: -0.03em;
        line-height: 100%;
    }

    .breadcrumb_icon {
        width: 2.08vw;
        height: 2.08vw;
    }

    /* CATALOG */
    .catalog_page {
        padding-top: 7.8vw;
    }

    .catalog_title {
        margin-bottom: 2.6vw;
    }

    .filter_sidebar {
        display: none;
    }

    /* CATALOG - MOBILE/TABLET FILTER */
    .catalog_controls {
        display: flex;
        gap: 2.6vw;
        margin-bottom: 3.91vw;
    }

    .filter_btn {
        width: 3.5vw;
        height: 3.5vw;
    }

    .search_wrapper {
        width: calc(50% - 1.3vw);
        padding-bottom: 1.3vw;
    }

    .search_input {
        font-size: 1.7vw;
    }

    .search_btn {
        width: 3.1vw;
        height: 3.1vw;
    }

    /* CATALOG - PRODUCTS */
    .catalog_layout {
        grid-template-columns: 1fr;
    }

    .products_grid {
        gap: 1.3vw;
    }

    .product_card {
        border-radius: 1.3vw;
        padding: 2.6vw;
        gap: 2.6vw;
    }

    .product_image {
        width: 15.8vw;
        height: 14.7vw;
        aspect-ratio: 121 / 113;
    }

    .product_info {
        width: 31.25vw;
    }

    .product_info h3 {
        font-size: 2.3vw;
    }

    .show_more_btn {
        width: 25%;
        height: 5.7vw;
        margin-top: 3.9vw;
        font-size: 2.1vw;
        border-radius: 1.3vw;
        padding: 1.8vw 3.1vw;
    }

    /* CATALOG - MOBILE/TABLET FILTER MODAL */
    .filter_modal {
        padding: 2.6vw;
    }

    .filter_modal.active {
        display: flex;
        height: fit-content;
        margin-top: 23vw;
    }

    .filter_modal_content {
        width: 54.2vw;
        border-radius: 2vw;
        padding: 2.6vw;
    }

    .filter_section_header {
        padding: 2.6vw 0;
    }

    .filter_section_header h3 {
        font-size: 2.34vw;
    }

    .arrow_icon {
        width: 3.1vw;
        height: 3.1vw;
    }

    .filter_section_content {
        gap: 1.3vw;
        padding-bottom: 2.6vw;
    }

    .filter_checkbox {
        gap: 1.3vw;
    }

    .filter_checkbox input {
        width: 2.1vw;
        height: 2.1vw;
    }

    .filter_checkbox input::after {
        border-radius: 0.52vw;
    }

    .filter_checkbox span {
        font-size: 2.1vw;
    }
}

/* ДЕСКТОПНЫЙ АДАПТИВ: 1025px+ */
@media (min-width: 1025px) {
    .breadcrumbs {
        display: flex;
        align-items: center;
        gap: 0.26vw;
        margin-bottom: 1.56vw;
    }

    .breadcrumbs span {
        font-size: 0.83vw;
        font-weight: 400;
        letter-spacing: -0.04em;
        line-height: 120%;
    }

    .breadcrumb_icon {
        width: 0.83vw;
        height: 0.83vw;
    }
}
