:root {
    --main-font: 'Moderustic', Arial, sans-serif;
    --main-color: #1d3151;
    --accent-color: rgba(18, 66, 149, 1);
    --container: 90%;
    --gap: 2.3vw;
    --edge: 0.57vw;
    --blog-bg: #154caa;
}

/* ===== FOOTER ===== */
.main_footer {
    background: rgba(245, 245, 245, 1);

}

.footer_content {
    max-width: var(--container);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 22% repeat(4, 1fr);
    justify-content: space-between;
    gap: 1.04vw;
    padding-bottom: 1.04vw;
    border-bottom: 0.05vw solid #ddd;
}

.site_footer__dev_container {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    grid-column: 5;
}
.site_footer__dev_container img { width: auto; height: 1em; }

.footer_col h4 {
    font-weight: 500;
    margin: 0 0 1.04vw 0;
    color: black;
    letter-spacing: -0.04em;
}

.footer_col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_col ul li {
    margin-bottom: 0.3vw;
    line-height: 100%;
    color: black;
    letter-spacing: -0.04em;
}

.footer_col ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer_col ul li.adress
{
    line-height: 1.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

.footer_col ul li a:hover {
    color: var(--accent-color);
}

.footer_bottom {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0.8vw 0vw;
    display: grid;
    grid-template-columns: 22% repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 1.04vw;
    color: #999;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.04em;
}

.footer_bottom a {
    color: #999;
    gap: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_bottom a:hover {
    color: var(--accent-color);
}

.footer_bottom strong {
    color: black;
    font-weight: 400;
}

.footer_col h4 {
    font-size: 1.56vw;
}

.footer_bottom {
    font-size: 0.83vw;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main_footer {
        padding: 5.2vw 0 1.56vw;
    }
}
/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) {
    .site_footer__dev_container {
        grid-column: 5;
    }

    .footer_content, .footer_bottom {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 4.21vw;
        padding-bottom: 2.5vw;  
        max-width: 100%;
        width: calc(100% - 40px);
    }

    .footer_logo {
        grid-row: 1 / 2;
        grid-column: 1;
    }
    .footer_bottom
    {
        font-size: 0.9vw;
    }

    .footer_col h4 {
        font-size: 1.6vw;
    }

    .footer_col ul li {
        font-size: 1.3vw;
    }
    .main_footer {
        margin-top: 6.67vw;
    }

    .footer_content {
        padding: 2.2vw 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2.6vw;
        border-bottom: 0.14vw solid #e0e0e0;
    }

    .footer_bottom {
        padding: 1.1vw 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2.6vw;
    }
}

/* MOBILE */

@media (max-width: 767px) {
   .main_footer {
        padding: 4.44vw 0;
        margin-top: 6.67vw;
    }

    .footer_content {
        padding: 4.44vw 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.44vw 10.33vw;
        border-bottom: 0.14vw solid #e0e0e0;
    }
    
    .footer_logo
    {
        grid-column: 1/3;
    }

    .footer_bottom {
        padding: 3.33vw 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10.33vw;
    }
    .site_footer__dev_container
    {
        grid-column: 2;
    }
    .footer_col h4 {
        font-size: 4.1vw;
        margin-bottom: 2vw;
    }
    .footer_col:last-of-type h4
    {
        margin-bottom: 1.7vw;
    }

    .footer_col ul li {
        font-size: 3.1vw;
    }

    .footer_bottom {
        font-size: 2.2vw;
    }
}

