@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@500;600&family=Inter:wght@400;500;700&display=swap');

:root {
    --main-font: 'Moderustic', Arial, sans-serif;
    --text-font: "Inter", Arial, sans-serif;
    --blue: #124295;
    --black: #000;
    --white: #fff;
    --grey: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    background: var(--grey);
    color: var(--black);
}

section {
    padding-top: 3.1vw;
    padding-bottom: 3.1vw;
}

img {
    display: block;
    max-width: 100%;
    color: white;
}

section
{
    width: 90%;
    margin: 0 auto;
}

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    flex-direction: column;
    gap: 0.21vw;
    align-items: center;
    justify-content: center;
}

.burger span {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1vw;
    transition: all 0.3s ease;
}

.burger-blue span {
    background: rgba(18, 66, 149, 1);
}

.mobile_navigation__buttons {
    display: none;
}

.mobile_menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile_menu__overlay.active {
    display: block;
    opacity: 1;
}

.mobile_menu {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(245, 245, 245, 1);
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.main_navigation__list a.a_black {
    color: var(--black);
}

.main_navigation.black a
{
    color: var(--black);
}
.dropdown_menu.black a
{
    color: var(--black);
}

.main_navigation__list a {
    color: var(--white);
    gap: 0.42vw;
}
.mobile_menu.active {
    display: flex;
}

.mobile_menu header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.mobile_menu__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.close {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(18, 66, 149, 1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 300;
}

.mobile_nav {
    margin-top: 0;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.mobile_nav ul li {
    width: auto;
    text-align: center;
}

.mobile_nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
}

.mobile_nav ul li a img {
    transform: rotate(-90deg);
}

.mobile_menu__btn {
    margin-top: 0;
    width: 100%;
    color: white;
    background: rgba(18, 66, 149, 1);
    border: none;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mobile_menu__btn:hover {
    background: #001f66;
}

/* ===== HEADER ===== */
.main_header {
    padding: 1.04vw 0;
}

.main_navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4.5vw;
    justify-content: space-between;
}

.logo {
    height: 2.6vw;
    margin-right: auto;
}

.main_navigation__list {
    display: flex;
    gap: 2.20vw;
    list-style: none;
    margin: 0;
    font-size: 22px;
    padding: 0;
}

.main_navigation__list a {
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.main_navigation__list a:hover {
    color: var(--accent-color);
}

.main_navigation__right {
    display: flex;
    align-items: center;
    gap: 1.56vw;
}

.main_navigation__search img {
    cursor: pointer;
}

.main_navigation__phone {
    text-underline-offset: 0.42vw;
    font-weight: 600;
    transition: color 0.3s ease;
    text-decoration: none;
}

.main_navigation__phone:hover {
    color: #001f66;
}

.main_navigation__btn {
    border: none;
    font-weight: 600;
    padding: 0.63vw 1.25vw;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_navigation__btn:hover {
    transform: translateY(-0.1vw);
}

.main_navigation__list li a img
{
    width: 1.15vw;
}

.catalog_search__image
{
    width: 1.4vw;
    height: auto;
}


.nav_item--dropdown {
    position: relative;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 0.3vw;
}

.dropdown_arrow {
    transition: transform 0.3s ease;
}

.dropdown_menu {
    position: absolute;
    top: 130%;
    left: 0;
    width: 120%;
    padding: 0.65vw 0;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;
    z-index: 100;
}

.dropdown_item {
    padding: 0.6vw 1vw;
    transition: background 0.2s ease;
}

.nav_item--dropdown:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav_item--dropdown:hover .dropdown_arrow {
    transform: rotate(180deg);
}


/* BREADCRUMBS */
.breadcrumbs {
    padding: 0;
}

.breadcrumbs__container {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.26vw;
}

.breadcrumbs__container svg {
    width: 1.04vw;
    height: 1.04vw;
    transform: rotate(-90deg);
}

.breadcrumbs__container :is(a, p) {
    font-size: 0.83vw;
    color: var(--white);
    transition: all 0.3s ease;
}

.breadcrumbs__container :is(a, p:not(p:last-of-type)):hover {
    color: var(--blue);
}

.breadcrumbs__container p:last-of-type {
    color: rgba(255, 255, 255, 0.5);
}

.content_text {
    letter-spacing: -0.045em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content_text--medium {
    gap: 2.5vw;
}

.content_text--small {
    margin-top: -10px;
    line-height: 100%;
    margin: 0;
}

/* ===== CONTACT ===== */
.contact_section {
    max-width: var(--container);
    border-radius: 0.63vw;
}

.contact_section h2 {
    font-weight: 400;
    margin: 0;
    color: black;
    font-size: 1.6vw;
    width: 100%;
}

.contact_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(255, 255, 255, 1);
    gap: 1.04vw;
    margin-top: 40px;
    border-radius: 0.85vw;
    padding: 1.6vw;
}

.contact_left {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
    justify-content: space-between;
}

.contact_left p {
    line-height: 120%;
    color: black;
    margin: 0 0 1.56vw 0;
    font-size: 1.25vw;
    width: 80%;
}

.contact_buttons {
    display: flex;
    gap: 1vw;
    margin-top: auto;   
}

.contact_btn {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    color: black;
    text-decoration: none;
    border-radius: 0.31vw;
    font-weight: 400;
    transition: transform 0.3s ease;
    font-size: 1.56vw;
}

.contact_btn:hover {
    transform: translateY(-0.1vw);
}

.contact_btn_whatsapp img,
.contact_btn_telegram img {
    height: auto;
    width: 2.6vw;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_title {
    font-size: 2.1vw;
    font-weight: 400;
    margin: 0;
    color: #000;
}

.form_group input,
.form_group textarea {
    font-size: 0.83vw;
    border: none;
    border-bottom: 0.05vw solid #ccc;
    padding: 0.63vw 0;
    font-family: var(--main-font);
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    height: 2.8vw;
}

.form_group input:focus,
.form_group textarea:focus {
    border-bottom-color: var(--accent-color);
}

.form_agree {
    font-size: 0.73vw;
    color: black;
    margin: 0;
    line-height: 120%;
}

.form_btn {
    font-size: 0.83vw;
    width: 100%;
    background: rgba(18, 66, 149, 1);
    color: #fff;
    border: none;
    padding: 0.83vw 2.6vw;
    border-radius: 0.55vw;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form_btn:hover {
    background: #001f66;
    transform: translateY(-0.1vw);
    box-shadow: 0 0.21vw 0.63vw rgba(18, 66, 149, 0.3);
}

/* общие стили элементов */
.headline2
{
    font-family: var(--main-font);
    font-size: 3.9vw;
    font-weight: 500;
    color: black;
    line-height: 110%;
}

@media (min-width: 1025px) {
    .burger,
    .mobile_menu,
    .mobile_navigation__buttons {
        display: none !important;
    }

    /* Desktop font sizes */
    .main_navigation__list a {
        font-size: 1.15vw;
    }

    .main_navigation__search img {
        font-size: 1.04vw;
    }

    .main_navigation__phone {
        font-size: 1.35vw;
    }

    .main_navigation__btn {
        font-size: 0.83vw;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        container: calc(100% - 40px);
        --gap: 2.5vw;
        --edge: 2.5vw;
    }
    section
    {
        width: calc(100% - 40px);
        max-width: 100%;
        padding-top: 5.2vw;
        padding-bottom: 5.2vw;
    }
    .main_navigation
    {
        max-width: 100%;
        width: calc(100% - 40px);
    }
    .main_navigation__list,
    .main_navigation__right {
        display: none !important;
    }

    .burger,
    .mobile_navigation__buttons {
        gap: 2.1vw;
        display: flex !important;
        align-items: center;
    }
    .main_navigation__phone{
        font-size: 2.3vw;
        display: none;
    }
    .logo {
        height: 4.2vw;
    }

    .main_header img.catalog_search__image
    {
        display: none;
    }

    img.catalog_search__image
    {
        width: 4.8vw;
        height: auto;
    }

    /* Burger размеры для планшета */
    .burger {
        width: 5.21vw;
        height: auto;
        gap: 0.78vw;
    }

    .burger span {
        width: 5.21vw;
        height: 0.55vw;
    }

    /* Mobile menu для планшета */
    .mobile_menu {
        padding: 2.6vw 2.6vw;
    }

    .mobile_menu header {
        padding-bottom: 2.6vw;
        margin-bottom: 2.6vw;
    }

    .mobile_menu header .logo img {
        height: 5.73vw;
    }

    .mobile_menu__buttons {
        gap: 2.6vw;
    }

    .mobile_menu__buttons .catalog_search__image {
        width: 3.13vw;
        height: 3.13vw;
    }

    .close {
        font-size: 6.5vw;
        width: 5.21vw;
        height: 5.21vw;
    }

    .mobile_nav ul {
        gap: 3.91vw;
    }

    .mobile_nav ul li a {
            font-size: 5.21vw;
            gap: 0.65vw;
        }

    .mobile_nav ul li a img {
        width: 5.21vw;
        height: 5.21vw;
    }

    .mobile_menu__btn {
        font-size: 2.08vw;
        padding: 1.82vw 3.13vw;
        border-radius: 1.3vw;
    }

    /* BREADCRUMBS */
    .breadcrumbs {
        padding: 2.6vw 0 3.9vw;
    }

    .breadcrumbs__container {
        gap: 0.65vw;
    }

    .breadcrumbs__container svg {
        width: 2.6vw;
        height: 2.6vw;
    }

    .breadcrumbs :is(a, p) {
        font-size: 2.1vw;
    }


    /* CONTACT */
    .contact_section {
        max-width: 100%;
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    .contact_wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 2.6vw;
        padding: 2.6vw;
    }

    .contact_section h2 {
        font-size: 2.9vw;
        margin-bottom: 0;
        width: 100%;
    }
    .contact_left {
        gap: 1.04vw;
    }

    .form_agree {
        font-size: 1.7vw;
    }

    .contact_left p  {
        font-size: 1.85vw;
    }

    .contact_btn {
        width: auto;
        height: 100%;
        font-size: 2.9vw;
        border-radius: 1.4vw;
    }

    .form_title {
        font-size: 3vw;
    }

    .form_group input,
    .form_group textarea {
        font-size: 1.58vw;
        padding: 1.3vw 0;
        height: 5.3vw;
    }

    .contact_buttons .contact_btn_whatsapp img,
    .contact_btn_telegram img {
        width: 3.6vw;
        height: auto;
    }

    .form_title {
        font-size: 3.12vw;
    }

    .form_agree {
        font-size: 1.35vw;
    }

    .form_btn {
        height: 4.9vw;
        font-size: 1.6vw;
        margin-top: 1vw;
        border-radius: 1.3vw;
    }

    /* общие стили элементов */
    .headline2
    {
        font-size: 7.8vw;
    }
}
@media (max-width: 767px) {
    :root {
        --container: 90%;
        --gap: 3.0vw;
        --edge: 5.56vw;
    }

    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    section {
        width: 90%;
        padding-top: 8.4vw;
        padding-bottom: 8.4vw;
    }

    .main_navigation__list,
    .main_navigation__right {
        display: none !important;
    }

    .mobile_navigation__buttons {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        gap: 5.56vw;
    }
    
    .main_header img.catalog_search__image
    {
        display: none;
    }

    img.catalog_search__image
    {
        width: 7.5vw;
        filter: grayscale(1);
        height: auto;
    }

    .logo {
        height: 7.8vw;
    }

    /* Burger размеры для мобилки */
    .burger {
        display: flex !important;
        width: 8.33vw;
        height: auto;
        gap: 1.39vw;
    }

    .burger span {
        width: 8.33vw;
        height: 0.8vw;
    }

    /* Mobile menu для мобилки */
    .mobile_menu {
        padding: 5.56vw 5.56vw;
    }

    .mobile_menu header {
        padding-bottom: 5.56vw;
        margin-bottom: 5.56vw;
    }

    .mobile_menu header .logo img {
        height: 8.33vw;
    }

    .mobile_menu__buttons {
        gap: 4.44vw;
    }

    .mobile_menu__buttons .catalog_search__image {
        width: 6.67vw;
        height: 6.67vw;
    }

    .close {
        font-size: 10vw;
        width: 8.33vw;
        height: 8.33vw;
    }

    .mobile_nav ul {
        gap: 5.56vw;
    }

    .mobile_nav ul li a {
        font-size: 8.33vw;
        gap: 1.39vw;
    }

    .mobile_nav ul li a img {
        width: 8.33vw;
        height: 8.33vw;
    }

    .mobile_menu__btn {
        font-size: 3.89vw;
        padding: 3.89vw 6.67vw;
        border-radius: 2.78vw;
    }

    .main_navigation__phone {
        display: none;
    }

    /* BREADCRUMBS */
    .breadcrumbs {
        padding: 4.15vw 0 0;
    }

    .breadcrumbs__container {
        gap: 1.39vw;
    }

    .breadcrumbs__container svg {
        width: 5.2vw;
        height: 5.2vw;
    }

    .breadcrumbs :is(a, p) {
        font-size: 3.3vw;
    }

    /* CONTACT */
    .contact_section {
        border-radius: 2.22vw;
    }

    .contact_section h2 {
        font-size: 6.3vw;
        margin-bottom: 3.3vw;
        width: 100%;
    }

    .contact_left p {
        font-size: 4.44vw;
        margin-bottom: 6.2vw;
        width: 100%;
    }

    .contact_btn {
        width: auto;
        border-radius: 1.67vw;
        font-size: 4.45vw;
    }

    .form_title {
        font-size: 8.3vw;
        margin-top: 14vw;
    }

    .contact_wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 5.6vw;
        border-radius: 4.5vw;
    }

    .contact_buttons {
        gap: 2.22vw;
        align-items: center;
    }

    .contact_form {
        gap: 3.33vw;
    }

    .contact_btn_whatsapp img,
    .contact_btn_telegram img {
        width: 6.9vw;
    }

    .form_group input,
    .form_group textarea {
        padding: 2.22vw 0;
        height: 11vw;
        font-size: 3.61vw;
    }

    .form_btn {
        margin-top: 5vw;
        height: 11.11vw;
        padding: 3.33vw;
        font-size: 4.45vw;
        border-radius: 1.67vw;
    }

    .form_agree {
        font-size: 3.4vw;
    }

    /* общие стили элементов */
    .headline2
    {
        font-size: 8.3vw;
    }
}
